@tailwind base;
@tailwind components;
@tailwind utilities;

.inactive {
  color: #aaa;
}

.active {
  position: relative;
  z-index: 1;
  color: white;
}

.active::before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  background-color: #ff0000;
  border-radius: 50%;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
